.app-container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}


.input-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.add-button {
  background-color: #00a86b;
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
}

.empty-list {
  color: #b2beb5;
}
